# Path: .env

VITE_APP_SHORT_NAME='Undercover'
VITE_APP_NAME='Undercover'
VITE_APP_COMPANY_NAME='Undercover'
VITE_APP_AUTHOR_NAME='Anthony Lalba'
VITE_APP_DESCRIPTION='Undercover'
VITE_APP_THEME_COLOR='#0E133C'
VITE_APP_BG_COLOR='#0E133C'
VITE_PORT=5173
VITE_FRONT_URL=http://localhost:5173
VITE_GIT_REPO=https://github.com/LalbaAnthony/undercover